# ディレクトリを指定する場合
client/node_modules

# Ignore bundler config.
server/.bundle

# Ignore the default SQLite database.
server/db/*.sqlite3
server/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
server/log/*.log
server/tmp